.home {
	.hero {
		position: relative;
		background-color:$brand;
		h1 {
			text-transform:uppercase;
			font-weight: $font-bold;
		}
		.text {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height: 100%;
			z-index: 100;
			.cta-list {
				.btn {
					border:white solid 3px;
				}
				.btn-success {
					background-color:rgba($success,.75);
				}
				.btn-primary {
					background-color:rgba($primary,.75);
				}
			}
		}
		.image {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height: 100%;
			background-size:cover;
			background-position:center center;
			background-repeat:no-repeat;
			filter: brightness(1.1) contrast(1.3);
			opacity: .5;
		}
	}
	.hero:before, .hero:after {
		content: '';
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}
	.hero:before {
		z-index: 2;
		mix-blend-mode: multiply;
		box-shadow: 0 0 100px rgba(100, 150, 200, 1) inset, 0 0 300px rgba(100, 150, 200, 1) inset;
	}

	.hero:after {
		z-index: 3;
		mix-blend-mode: difference;
		background: rgba($primary, 0.3);
	}
}
.cta-list {
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:center;
}
.card {
	background-color:white;
	position: relative;
	margin-bottom:30px;	
}
.horizontal-card {
	background-color:white;
	.col {
		position: relative;
		.thumb {
			position:relative;
			background-size:cover;
			background-repeat:no-repeat;
			background-position:center center;
			filter: brightness(1.1) contrast(1.3);
			opacity: .5;
		}
		.thumb:before, .thumb:after {
			content: '';
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			position: absolute;
		}
		.thumb:before {
			z-index: 2;
			mix-blend-mode: multiply;
			background-color:$black;
		}
		.play-button {
			position: absolute;
			top:0;
			left:0;
			z-index:100;
			font-weight:$font-bold;
			font-size:32px;
			color:black;
		}
	}

}
.card, .horizontal-card .col {
	.text {
		padding:30px 30px 70px 30px;
	}
	.btn-wrapper {
		position: absolute;
		bottom:0;
		left:0;
		width:100%;
		padding:30px;
	}
}
.card {
	.thumb {
		position:relative;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
		a {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height: 100%;
		}
	}
}

@media only screen and (min-width : 320px) {	
	.home {
		.hero {
			height:100vh;
		}
	}
	.cta-list {
		li {
			display: block;
			padding:15px;
			a {
				width:100%;
			}
		}
	}
	.card {
		.thumb {
			height:250px;
		}
	}
	.horizontal-card {
		.thumb {
			height:250px;
		}
	}
	.listing {
		border-bottom:$light-grey-3 solid 1px;
		a {
			display: block;
			padding:5px 15px;
			font-size: 14px;
		}
	}
}
@media only screen and (min-width : 768px) {
	.cta-list {
		li {
			display: inline-block;
			a {
				width:auto;
			}
		}
	}
	.horizontal-card {
		.thumb {
			height:350px;
		}
	}
}



/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.home {
		.hero {
			height:600px;
		}
	}
}

@media only screen and (min-width : 1200px) {
	.hero {
		h1 {
			font-size: 50px;
		}
	}
	.card {
		.thumb {
			height:160px;
		}
	}
	.horizontal-card {
		.thumb {
			height:428px;
		}
	}
}